{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="mb-3">
        <!-- Start of form with GET method. The action is not specified, so it submits to the current URL -->
        <form method="get">
            <label for="searchMovie" class="form-label">
                Search for Movie:
            </label>
            <!-- The input field's name matches the expected GET parameter in the view -->
            <input type="text" class="form-control" id="searchMovie" name="searchMovie" value="{{ searchTerm }}">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- Display the search term -->
    <p>Searching for: {{ searchTerm }}</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movies %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ movie.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.description }}</p>
                    <p class="card-text">{{ movie.genre }}</p>
                    <p class="card-text">{{ movie.year }}</p>
                    {% if movie.url %}
                    <a href="{{ movie.url }}" class="btn btn-primary">Movie Link</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br/>
</div>

{% endblock content %}
